@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  text-align: center;
}

body {
  background-color: #ebe6e0;
  margin: 0;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;

}

